# Режим работы приложения: DEV или PROD
MODE=DEV

# Данные для доступа к документации в DEV режиме
DOCS_USER=admin
DOCS_PASSWORD=admin123

# Секретный ключ для JWT (сгенерируйте свой через: openssl rand -hex 32)
JWT_SECRET_KEY=mysecretkey12345678901234567890123456789012
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=30